.App {
  text-align: center;
}

.cart{
display: inline-block;

}
.text{
background-color: rgb(220, 247, 245);
}
.imgs{
  height: 500px;
  width: 250px;
  border-radius: 10%; 
}
.imgs4 {
  width: 100%;
  border-radius: 10%;
}
.imgs5 {
  width: 100%;
  border-radius: 10%;
}
.imgs7 {
  width: 80%;
  border-radius: 10%;
}
.imgs8 {
  width: 80%;
  border-radius: 10%;
}
.cold {
  width: 80%;
  border-radius: 10%;
}
.h11{
  font-size: 50px;
}
.logo{
 color:black;
}
.spann{
  color: white;
}
.naslov3{
  text-align: left;
}

Card{
  border-radius: 10%;
}
footer{
  background-color: black;
  color:white;
  font-size: 14;
}
.emailF{
  font-size: 12px;
}
.footers{
  width: 100%;
  background-color: rgb(0, 0, 0);
}
.first{
  width: 80%;
  border-radius: 10%;
}
.h5{
  text-align: left;
}
.lead{
  background-color: rgb(194, 186, 186);
}
.lead1{
  background-color: black;
  color:white;
  border-radius: 50%;
}
.footer{
  background-color:black ;
  color:white;
}

.maliN{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif Georgia, Times, 'Times New Roman', serif Haettenschweiler,;
}
.body2{
  background-color: rgb(140, 68, 169);
  color : white; 
}
.body3{
  background-color: black;
  color : white;
}
.button11{
  text-decoration: none;
  color:white;
}
.jen{
  color : white;
}




.blink {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.blink1 {
  animation: blinker1 3s linear infinite;
}

@keyframes blinker1 {
  80% {
    opacity: 0;
  }
}
.blink2 {
  animation: blinker2 2s linear infinite;
}

@keyframes blinker2 {
  60% {
    opacity: 0;
  }
  70% {
    opacity: 2;
  }
  90%{
    opacity: 4;
  }
  40%{
    opacity: 2;
    color:blue;
  }
}